__pycache__/
*.pyc
.ipynb_checkpoints/
# big raw/processed data is NOT pushed to GitHub (re-create with the scripts)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

.DS_Store
venv/
